.parameters-container{
    width: 80%;
    height: 80%;
    padding: 10%;
    overflow: scroll;
    overflow-x: hidden;
}

.parameters-container h2{
    font-family: Lemon;
    font-size: 2.5vh;
    margin-bottom: 6%;
}

.parameters-container>h1{
    margin-bottom: 6%;
}

.parameters-title{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 15%;
}

.parameters-title p{
    font-size: 2vh;
    font-family: degular, sans-serif;
}

.parameters-ressources{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 6%;
}

.parameters-ressources>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

.parameters-ressources>div>h3{
    color: #FB8A7A;
}

.parameters-ressources>div>a{
    color: #74787B;
    height: fit-content;
    font-family: degular, sans-serif;
}

.parameters-mentions{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 6%;
}

.parameters-mentions>p{
    font-family: degular, sans-serif;
}

.parameters-conditions{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.parameters-conditions>p{
    font-family: degular, sans-serif;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: fit-content;
}