.swipper-page{
    width: 100%;
    height: 95%;
    padding: 5% 5% 15% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #AED5FF;
}

.swipper-page>h1{
    width: 80%;
}

.carousel{
    width: 100%;
    height: 80%;
    
}

.carousel>div{
    width: 100%;
    height: 100%;
    
    
}

.carousel>div>div{
    height: 100%;
}



.question-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
} 

.question-card{
    width: 60%;
    height: 70%;
    border-radius: 25px;
    box-shadow: 4px 7px 13px 5px rgba(0,0,0,0.35);
    background-color: #ffffff;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-container{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-container>div{
    width: 8vh;
    height: 8vh;
    background-color: var(--bg-card);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 4px 7px 19px 3px rgba(0,0,0,0.28);
}
