.swipper-page{
    width: 100%;
    height: 95%;
    padding: 5% 5% 15% 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #AED5FF;
}


#carousel{
    width: 100%;
    height: 80%;
    
}

#carousel>div{
    width: 100%;
    height: 100%;
    
    
}

#carousel>div>div{
    height: 100%;
}



.question-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
} 

.question-card{
    width: 60%;
    height: 70%;
    border-radius: 25px;
    box-shadow: 4px 7px 13px 5px rgba(0,0,0,0.35);
    background-color: #ffffff;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-container{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-container>div{
    width: 8vh;
    height: 8vh;
    background-color: var(--bg-card);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 4px 7px 19px 3px rgba(0,0,0,0.28);
}

.swipper-page > h1 {
    width: 80%;
    height: 7vh;
}

.swipper-page > h1 > img {
    height: 100%;
}

#choose-theme-container.notActive,#carousel.notActive{
    display: none;
}


#choose-theme-container{
    width: 80%;
    height: 25vh;
    background-color: #ffffff;
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.3); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.3);
}

#choose-theme-container .select-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30%;
}

#choose-theme-container .select-container label{
    width: 100%;
    font-family: Lemon;
}

.swap-button{
    width: 15%;
    height: 15%;
    border-radius: 20px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
